# Server Configuration
PORT=8080
JWT_SECRET=super_secret_jwt_key_change_in_production_guvi_2026
CORS_ORIGIN=*

# MongoDB Connection (Local or MongoDB Atlas)
# Local: mongodb://localhost:27017/pollingdb
# Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/pollingdb?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/pollingdb

# Redis Connection (Local or Upstash Redis / Redis Cloud)
# Local: localhost:6379
# Upstash/Cloud: redis://default:<password>@<host>:<port> or rediss://...
REDIS_URI=localhost:6379
